/* Estilos generales del cuerpo */
.login-page::before {
  content: ''; /* Esto no muestra nada, solo se usa para aplicar un estilo */
  position: absolute; /* Posiciona el elemento de manera fija en relación con su contenedor */
  top: 10%; /* Coloca el elemento a un 10% desde la parte superior del contenedor */
  left: 2%; /* Coloca el elemento a un 2% desde el borde izquierdo del contenedor */
  width: 96%; /* Ancho del 96% del contenedor, casi todo el ancho disponible */
  height: 100%; /* Altura del 100% del contenedor, ocupa todo el alto */
  background-color: #DFDEDE; /* Color de fondo gris claro */
  border: 3px solid #707070; /* Borde gris oscuro de 3px de ancho */
  z-index: -1; /* Coloca este elemento detrás de otros elementos */
}

header {
  text-align: center; /* Centra el texto dentro del encabezado */
}

.logo1 {
  max-width: 30%; /* La imagen no será más ancha del 30% del contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block; /* Hace que la imagen se comporte como un bloque */
  border-radius: 60px; /* Bordes redondeados de 60px para la imagen */
}

#inicio-sesion {
  max-width: 400px; /* Ancho máximo del formulario de inicio de sesión */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  text-align: center; /* Centra el texto y otros elementos dentro del formulario */
}

#inicio-sesion label {
  display: block; /* Cada etiqueta se muestra en su propia línea */
  margin-bottom: 10px; /* Espacio debajo de cada etiqueta */
}

#inicio-sesion input {
  width: 100%; /* Los campos de entrada ocupan todo el ancho disponible */
  padding: 8px; /* Espacio dentro del campo de entrada */
  margin-bottom: 15px; /* Espacio debajo de cada campo de entrada */
  box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
}

#inicio-sesion button {
  padding: 10px 10px; /* Espacio dentro del botón */
  background-color: #44D257; /* Color verde del fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde en el botón */
  border-radius: 5px; /* Bordes redondeados de 5px para el botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

#inicio-sesion button:hover {
  background-color: #44D257; /* El color de fondo no cambia al pasar sobre el botón (puedes ajustarlo si quieres un efecto diferente) */
}

.links {
  margin-bottom: 15px; /* Espacio debajo de la sección de enlaces */
}

.links a {
  text-decoration: none; /* Los enlaces no tendrán subrayado */
}

.links a:hover {
  text-decoration: underline; /* Los enlaces se subrayan al pasar el mouse sobre ellos */
}

p a:hover {
  text-decoration: underline; /* Los enlaces dentro de párrafos también se subrayan al pasar el mouse sobre ellos */
}
